[submodule "themes/hugo-papermod"]
	path = themes/hugo-papermod
	url = git@github.com:adityatelange/hugo-PaperMod.git
[submodule "public"]
	path = public
	url = git@github.com:DennisXie/dennisxie.github.io.git
	branch = master
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
